body {
	padding: 150vh 0;
	font: 15px/20px Arial, sans-serif;
}

p {
	font-family: var(--Font2);
}

h1 {
	font-family: var(--Font1);
}

:root {
	--BG: #010400ff;
	--FG: #30332eff;
	--MG: #d2a669ff;
	--MG2: rgb(189, 149, 93);
	--TEXT: #ab4190ff;
	--TEXT2: #0b7a75ff;
	--BLACK: #010400ff;
	--WHITE: #ecffe6;
	--Font1: 'ralewaythin';
	--Font2: 'maliregular';
}

[data-theme='light'] {
	--BG: #ecffe6;
	--FG: rgb(167, 173, 163);
	--MG: #d2a669ff;
	--TEXT: #ab4190ff;
	--TEXT2: #0b7a75ff;
}

@font-face {
	font-family: 'maliregular';
	src: url('./assets/Fonts/webfontkit-Mali/mali-regular-webfont.woff2') format('woff2'),
		url('./assets/Fonts/webfontkit-Mali/mali-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ralewaythin';
	src: url('./assets/Fonts/webfontkit-Raleway/raleway-variablefont_wght-webfont.woff2') format('woff2'),
		url('./assets/Fonts/webfontkit-Raleway/raleway-variablefont_wght-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@media (max-aspect-ratio: 1/1) {
	body {
		padding: 150vh 0;
		font: 15px/20px Arial, sans-serif;
	}
}
