.top {
	position: relative;
	margin-right: auto;
	height: 300%;
}

.base-float {
	position: sticky;
	bottom: 9vh;
	width: 30vw;
	height: 10vh;
	width: 100%;
	z-index: 2;
	// transition: all 0.1s ease-in-out;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.float-wrap{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 30vw;
	height: 5vh;
	z-index: 2;
}

.container_ {
	background-color: var(--FG);
	overflow: hidden;
	overflow-x: hidden;
	margin-right: auto;
	width: 100vw;
	height: 200vh;
	position: relative;
	transition: background-color 3s, height 1s;
}

.carousel_ {
	height: 100%;
	width: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 2s;
}

.element {
	backface-visibility: hidden;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;

	@for $i from 1 through 3 {
		&:nth-of-type(#{$i}) {
			@if ($i == 1) {
				z-index: 1;
			} @else {
				z-index: -1;
			}

			transform: rotateY(360deg/3 * (($i)-1)) translateZ(40vw);
		}
	}
}

.element .base{
	background-size: cover;
	background-repeat: repeat-y;
	position: absolute;
	opacity: 0.3;
}

.next,
.prev {
	height: 100%;
	width: 3vw;
}

.next {
	right: 1vw;
}
.prev {
	left: 1vw;
}

.next img,
.prev img {
	height: 100%;
	width: 3vw;
}

@media (hover: hover) {
	.next,
	.prev {
		cursor: pointer;
	}
}

[data-landscape=landscape]{
	.base-float {
		width: 88vw;
		bottom: 3vh;
	}

	.float-wrap{
		width: 25vw;
		height: 7vh;
	}

	.container_ {
		width: 85vw;
		height: 120vh;
	}

	.element {
		width: 85vw;
	}
}
