.BG {
	height: 100%;
	width: 100%;
	color: var(--TEXT);
	z-index: inherit;
}

.base {
	width: 100%;
	height: 100%;
	top:0;
}

.content{
	padding: 5%;
	height: 90%;
	width: 90%;
	z-index: inherit;
	text-align: center;
	font-size: 400%;
	transition: color 3s;
}

// @media (min-aspect-ratio: 1/1) {
[data-landscape=landscape]{
	// .EXPBG {
	// 	width: 100;
	// }
}
