.contain {
	height: 100%;
	width: 30%;
	background-color: var(--FG);
	border-radius: 40%;
	margin-left: auto;
	margin-right: auto;
	flex-direction: row;
	display: flex;
}

.indicator {
	margin: auto;
	width: 25%;
	height: 60%;
	background-color: var(--MG);
	border-radius: 50%;
	&.highlight {
		background-color: var(--MG2);
	}
	transition: none;
}

@media (max-aspect-ratio: 1/1) {
	.contain {
		height: 100%;
		width: 40%;
		background-color: var(--FG);
		border-radius: 40%;
		margin-left: auto;
		margin-right: auto;
		flex-direction: row;
		display: flex;
	}
}