@media (max-aspect-ratio:13/9){
    body {
        background: #333;
        padding: 70px 0;
        font: 15px/20px Arial, sans-serif;
    }
    
    .container {
        overflow: hidden;
        overflow-x: hidden;
        margin: 0 auto;
        width: 100vw;
        height: 300vh;
        position: relative;
    }
    
    .carousel {
        height: 100%;
        width: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: transform 2s;
    }
    
    .element {
        display: block;
        position: absolute;
        width: 100vw;
        height: 300vh;
        line-height: 200px;
        color: #FFF;
    }

    @for $i from 1 through 3{
        .element:nth-of-type(#{$i}) {
            transform: rotateY(360deg/3 * (($i)-1)) translateZ(40vw) ;
        }
    }

    @media (hover:hover){
        
    .next, .prev {
        height: 7vh;
        width: 14vw;
        position: fixed;
        bottom:20vh;
        cursor: pointer;
        border-radius: 5px;
        transition: box-shadow 0.1s, top 0.1s;
    }

        .next:active, .prev:active {
            bottom: 19vh;
            -webkit-tap-highlight-color: transparent;
        }
        .next { right: 3vw; }
        .prev { left: 3vw; }
        img{
            height: 7vh;
            width: 14vw;
        }
    }

    @media (hover:none){

    }
}
@media (min-aspect-ratio:13/9){
    body {
        background: #159;
        padding: 70px 0;
        font: 15px/20px Arial, sans-serif;
    }
    
    .container {
        overflow: hidden;
        overflow-x: hidden;
        margin: 0 auto;
        width: 100vw;
        height: 300vh;
        position: relative;
    }
    
    .carousel {
        height: 100%;
        width: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: transform 2s;
    }
    
    .element {
        display: block;
        position: absolute;
        width: 100vw;
        height: 300vh;
        line-height: 200px;
        color: #FFF;
    }

    @for $i from 1 through 3{
        .element:nth-of-type(#{$i}) {
            transform: rotateY(360deg/3 * (($i)-1)) translateZ(40vw) ;
        }
    }




    @media (hover:hover){
        
        .next, .prev {
            height: 7vh;
            width: 7vw;
            position: fixed;
            bottom:20vh;
            cursor: pointer;
            border-radius: 5px;
            transition: box-shadow 0.1s, top 0.1s;
        }

        .next:active, .prev:active {
            bottom: 19vh;
            -webkit-tap-highlight-color: transparent;
        }

        .next { right: 1vw; }
        .prev { left: 1vw; }

        img{
            height: 7vh;
            width: 7vw;
        }
    }

    @media (hover:none){

    }
}
