p {
    line-height: 50%;
    color: var(--TEXT);
    font-size: x-large;
}

.am {
    line-height: 180%;
    color: var(--TEXT);
    font-size: medium;
    right:15%;
    top:30%;
    width: 30%;
    position: absolute;
}

.landing{
    background-size: cover;
}